$BreakPoint__PC: 1144px;
$BreakPoint__SP: 810px;

:root {
    --color-Gray: #55504A;
    --color-BlueGray: #D5DDED;
    --color-LightGray: #A09A93;
    --color-LightBeige: #E7E3DF;
    --color-Orange: #F7B000;
    --color-Red: #C54A49;
}