@use 'variables' as *;

header {
    width: 100%;
    height: 64px;
    position: absolute;
    z-index: 2;
    background-color: rgba(#FFFFFF, 70%);

    * {
        background-color: #00000000;
    }

    .container {
        max-width: 100%;
        width: 100%;
        height: 64px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        overflow-x: clip;
        overflow-y: visible;
    }
    .logo {
        width: 254.07px;
        height: 28px;
        margin: 18px 60px;
        color: var(--color-Gray);
    }

    .menu {
        width: 328px;
        height: 64px;
        display: flex;
        flex-direction: row;

        &__item {
            width: 104px;
            padding: 19px 20px;
            z-index: 2;
            transition: background-color 0.3s ease-out;

            &:hover {
                background-color: white;
            }

            &:hover * {
                background-color: white;
            }

            &--contact {
                width: 120px;
                padding: 18px 12px;
                color: white;
                background-color: var(--color-Gray);
                transition: background-color 0.3s ease-out;

                &:hover {
                    background-color: var(--color-Orange);
                }

                &:hover * {
                    background-color: var(--color-Orange);
                }
            }
        }
    }
}
.hamburger-button {
    display: none;
    width: 56px;
    height: 56px;
    padding: 19px 16px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 0px;
    background-color: var(--color-Gray);

    &::before {
        width: 24px;
        height: 2px;
        content: " ";
        background-color: white;
        border-radius: 1px;
        transform-origin: 1px 1px;
        transition: transform 0.3s ease-out;
    }

    &__bar {
        width: 24px;
        height: 2px;
        border-radius: 1px;
        background-color: white;
        border-radius: 1px;
        transition: opacity 0.3s ease-out;
    }

    &::after {
        width: 24px;
        height: 2px;
        content: " ";
        background-color: white;
        border-radius: 1px;
        transform-origin: 1px 1px;
        transition: transform 0.3s ease-out;
    }    
}

@media (max-width:$BreakPoint__SP) {
    header {
        height: 56px;
        overflow-x: clip;
        overflow-y: visible;

        .container {
            height: 56px;
        }

        .logo {
            width: 228.6666717529297px;
            height: 25.200000762939453px;
            margin: 15px 20px;
        }

        .menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 252px;
            height: 100vh;
            position: fixed;
            top: 0px;
            right: -252px;
            padding-top: 99px;
            background-color: rgba(white, 90%);
            transition: transform 0.3s ease-out;

            &.active {
                transform: translateX(-252px);
            }

            &__item {
                width: 172px;
                padding: 16px 32px;
            }
        }
    }

    .hamburger-button {
        display: flex;
        z-index: 3;

        &.active {
            position: fixed;
            top: 0px;
            right: 0px;
            &::before {
                transform: rotate(atan2(3, 4)) scale(1.25, 1);
            }

            &::after {
                transform: rotate(atan2(-3, 4)) scale(1.25, 1);
            }
        }

        &__bar {
            display: inline;

            &.active {
                opacity: 0;
            }
        }

    }
}